{% extends 'base.html' %} {% block content %}

<!-- Informacja o kodzie Hamminga -->
<h2>Generowanie i weryfikacja kodu Hamminga</h2>

<p class="note-text">
  Kod Hamminga to algorytm stosowany do wykrywania i korygowania błędów w
  danych, który umożliwia naprawę pojedynczych błędów w przesyłanych lub
  przechowywanych informacjach. W tej implementacji użyjemy go do kodowania i
  weryfikacji ciągu danych binarnych, zapewniając integralność danych i
  możliwość wykrycia oraz automatycznej korekty błędów.
</p>

<!-- Formularz do generowania kodu Hamminga -->
<div class="form-full-width">
  <h2>Generowanie kodu Hamminga:</h2>
  <form method="POST" action="/generuj_kod_hamminga">
    <!-- Kontener dla pola formularza i przycisku -->
    <div class="form-row">
      <!-- Pole do wprowadzenia danych -->
      <label for="dane">Wprowadź dane (ciąg 0 i 1):</label>
      <input
        type="text"
        id="dane"
        name="dane"
        value="{{ dane }}"
        required
        style="width: 150px; height: 18px"
        class="input-field"
      />
      <!-- Przycisk do wykonania operacji -->
      <input type="submit" value="Generuj kod Hamminga" class="submit-button" />
    </div>
  </form>

  <!-- Wyświetlanie wygenerowanego kodu Hamminga w formularzu -->
  {% if kod_hamminga %}
  <br />
  <label for="generated_code">Wygenerowany kod Hamminga:</label>
  <input
    type="text"
    id="generated_code"
    name="generated_code"
    value="{{ kod_hamminga }}"
    readonly
    class="generated-hamming-kod"
  />
  {% endif %}
</div>
{% endblock %}
