{% extends 'base.html' %} 
{% block content %}

<!-- Informacja o szyfrze Cezara -->
<p class="note-text">
  Szyfr Cezara to prosta metoda szyfrowania, która przesuwa każdą literę tekstu
  o określoną liczbę miejsc w alfabecie, zgodnie z&nbsp;ustalonym kluczem (np.
  przesunięcie o 3 sprawia, że A staje się D). Proces ten zachowuje wielkość
  liter i pozwala na odwracalne szyfrowanie — ten sam klucz służy do
  odszyfrowania tekstu, przesuwając litery w przeciwnym kierunku. Działa to tak,
  że dla każdej litery tekstu wybieramy literę oddaloną o wartość klucza. Szyfr
  Cezara, choć prosty i podatny na złamanie, stanowi podstawę dla bardziej
  zaawansowanych szyfrów i jest popularnym przykładem w nauce kryptografii.
</p>

<!-- Formularz do szyfrowania/deszyfrowania ręcznego -->
<div class="form-container">
  <div class="form-column">
    <h2>Dane wprowadzane ręcznie:</h2>

    <form method="POST" action="/szyfrowanie_cezara">
      <!-- Pole do wprowadzenia tekstu -->
      <label for="text">Wprowadź tekst:</label>
      <input type="text" id="text" name="text" value="{{ text }}" required />
      <br /><br />

      <!-- Pole do wprowadzenia przesunięcia -->
      <label for="shift">Wprowadź przesunięcie:</label>
      <input type="number" id="shift" name="shift" required />
      <br /><br />

      <!-- Wybór operacji: szyfruj lub deszyfruj -->
      <label for="operation">Wybierz operację:</label>
      <select id="operation" name="operation" required>
        <option value="szyfruj">Szyfruj</option>
        <option value="deszyfruj">Deszyfruj</option>
      </select>
      <br /><br />

      <!-- Przycisk do wykonania operacji -->
      <input type="submit" value="Wykonaj" style="width: 200px" />
    </form>

    <!-- Wyświetlanie wyniku operacji, jeśli istnieje -->
    {% if result %}
    <h2 class="success-message">Wynik: {{ result }}</h2>
    {% endif %}
  </div>

  <!-- Formularz do szyfrowania/deszyfrowania pliku tekstowego -->
  <div class="form-column">
    <h2>Przesłany plik txt:</h2>
    <form
      method="POST"
      action="/szyfrowanie_cezara_file"
      enctype="multipart/form-data"
    >
      <!-- Pole do wyboru pliku tekstowego -->
      <label for="file">Wybierz plik tekstowy:</label>
      <input type="file" id="file" name="file" accept=".txt" required />
      <br /><br />

      <!-- Pole do wprowadzenia przesunięcia -->
      <label for="shift_file">Wprowadź przesunięcie:</label>
      <input type="number" id="shift_file" name="shift_file" required />
      <br /><br />

      <!-- Wybór operacji: szyfruj lub deszyfruj -->
      <label for="operation_file">Wybierz operację:</label>
      <select id="operation_file" name="operation_file" required>
        <option value="szyfruj">Szyfruj</option>
        <option value="deszyfruj">Deszyfruj</option>
      </select>
      <br /><br />

      <!-- Przycisk do szyfrowania i pobrania pliku -->
      <input
        type="submit"
        value="Szyfruj i pobierz plik"
        style="width: 200px"
      />
    </form>

    <!-- Informacja o przetworzeniu pliku, jeśli istnieje -->
    {% if file_result %}
    <h2 class="success-message">
      Plik został przetworzony i jest gotowy do pobrania
    </h2>
    {% endif %}
  </div>
</div>

<!-- Sekcja do szyfrowania/deszyfrowania plików z dowolnym formatem z kodowaniem Base64 -->
<div class="form-full-width">
  <h2>Plik z dowolnym formatem z kodowaniem Base64:</h2>
  <form
    method="POST"
    action="/szyfrowanie_base64"
    enctype="multipart/form-data"
  >
    <!-- Pole do wyboru pliku do zaszyfrowania/deszyfrowania -->
    <label class="custom-file-upload" for="file_base64"
      >Wybierz plik do zaszyfrowania:</label
    >
    <input type="file" id="file_base64" name="file_base64" required />
    <br /><br />

    <!-- Pole do wprowadzenia przesunięcia dla szyfru Cezara -->
    <label for="shift_base64">Wprowadź przesunięcie dla Cezara:</label>
    <input type="number" id="shift_base64" name="shift_base64" required />
    <br /><br />

    <!-- Wybór operacji: szyfruj lub deszyfruj -->
    <label for="operation_base64">Wybierz operację:</label>
    <select
      id="operation_base64"
      name="operation_base64"
      required
      onchange="toggleOutputFormatField()"
    >
      <option value="szyfruj">Szyfruj</option>
      <option value="deszyfruj">Deszyfruj</option>
    </select>
    <br /><br />

    <!-- Pole do wprowadzenia formatu pliku wynikowego, widoczne tylko przy deszyfrowaniu -->
    <div id="outputFormatField" style="display: none">
      <label for="output_format"
        >Format pliku wynikowego (np. py, txt, jpg):</label
      >
      <input type="text" id="output_format" name="output_format" value="txt" />
      <br /><br />
    </div>

    <!-- Przycisk do wykonania operacji -->
    <input type="submit" value="Wykonaj" style="width: 200px" />
  </form>
</div>

<!-- Skrypt JavaScript do togglowania pola formatu pliku wynikowego -->
<script>
  function toggleOutputFormatField() {
    const operation = document.getElementById("operation_base64").value;
    const outputFormatField = document.getElementById("outputFormatField");
    outputFormatField.style.display =
      operation === "deszyfruj" ? "block" : "none";
  }
</script>

{% endblock %}
